# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

#npm and hardhat stuff
node_modules
package-lock.json
package.json
hardhat.config.js

#sample contract
src/Counter.sol
test/Counter.t.sol
script/Counter.s.sol